.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: 400ms;
}

.buttonText {
  color: #181717;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button:hover {
  background-color: #181717;
}

.button:hover .buttonText {
  color: white;
}
