.card {
  background: white;
  padding: 0.4em;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.card_image {
  background-color: rgb(236, 236, 236);
  height: 250px;
  border-radius: 6px 6px 0 0;
  transition: transform 0.3s;
}

.card_image:hover {
  transform: scale(0.98);
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
  font-size: 1.8rem;
  display: grid;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.description {
  color: rgb(88, 87, 87);
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 20px;
  align-self: end;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 10px 10px;
}
