:root {
  --app-background-light: #eeeeee;
  --app-font-color-light: var(--app-background-dark);
  --app-background-dark: #13161b;
  --app-font-color-dark: var(--app-background-light);
  --grey: #393e46;
  --app-accent-color-1: #00aeef;
  --dark-space: #eeeeee;
}

/* Global styles */

body {
  background-color: #000;
}

section {
  padding: 4rem 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

/* Header section */

header {
  color: #fff;
  padding: 2rem 0;
  background-color: #0000000a;
}

/* Main section */

main {
  background-color: var(--app-background-dark);
  color: #fff;
}

.hero-banner {
  background-image: url(./img/alex-moliski-LnjXzju6MAw-unsplash.jpg);
  background-color: var(--app-background-dark);
  color: var(--app-font-color-light);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  text-align: center;
}

/* About section */

.grid-container__about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  padding: 2rem 0;
  place-items: center;
}

.profile-image {
  border-radius: 50%;
  border: 0.5rem solid var(--app-accent-color-1);
}
/* Footer section */

footer {
  background-color: var(--app-background-dark);
  color: var(--app-font-color-light);
  padding: 2rem 0;
  text-align: center;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.links-container img {
  width: 3rem;
}

/* Other styles */

#circle {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: all 5s ease-out;
  cursor: pointer;
  background-color: var(--app-accent-color-1);
  background-image: url(./img/arrow.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 100;
}

/* Media queries */

@media (max-width: 768px) {
  section {
    text-align: center;
  }

  .grid-container__about {
    grid-template-columns: 1fr;
  }
  .profile-image {
    width: 15rem;
  }
  .hero-banner {
    gap: 2rem;
  }
  .mail {
    height: 5rem;
    width: 5rem;
  }
  .links-container img {
    width: 2.5rem;
  }

  #circle {
    display: none;
  }
}

.mail {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--grey);
  border-radius: 5rem;
  border: 0.1rem solid transparent;
  transition: 0.3s all ease-in-out;
}

.mail:hover {
  border: 0.1rem solid var(--dark-space);
}

.mail img {
  padding: 1rem;
}
