@import url(/assets/styles/root.css);

footer {
  background-color: var(--grey);
  color: var(--white);
}

.container__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  height: 6svh;
  font-size: 2.5rem;
}

.container__footer :first-child {
  justify-self: end;
}
