@import url(/assets/styles/root.css);
@import url(/assets/styles/footer.css);
@import url(/assets/styles/mail.css);
@import url(/assets/styles/circle.css);
@import url(/assets/styles/buttons.css);

header {
  padding: 2rem 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

body {
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
}

.container {
  max-width: 1200px;
  width: min(100% - 25px, 1080px);
  margin-inline: auto;
  box-sizing: border-box;
}

.container__header {
  text-align: center;
}

section {
  margin-bottom: 5rem;
}

.container__hero-banner {
  display: grid;
  gap: 3rem;
  text-align: center;
}

.container__about {
  display: grid;
  gap: 2rem;
}

.container__about div {
  display: grid;
  justify-items: center;
}

.container__about img {
  border-radius: 50%;
  width: 20rem;
}
