@import url(/assets/styles/root.css);
@import url(/assets/styles/mail.css);
@import url(/assets/styles/circle.css);
@import url(/assets/styles/buttons.css);

header {
  margin-top: 10rem;
}

body {
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
  height: 100svh;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a {
  color: var(--white);
  text-decoration: none;
  margin-right: 1rem;
}

i {
  font-size: 2.4rem;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.gap {
  gap: 15rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

@media screen and (max-width: 768px) {
  header {
    margin-top: 5rem;
  }

  .flex {
    flex-direction: column;
  }

  .gap {
    gap: 5rem;
  }
}
