@import url(/assets/styles/root.css);

.section__projects h2 {
  color: var(--app-accent-color-1);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container__section_projects {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
  place-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--app-background-light);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 30rem;
}

.project-card__content {
  color: var(--app-font-color-light);
}

.project-card__content h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.project-card__content p {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.project-card__image {
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 0.5rem;
}

.project-card__image-coming-soon {
	background-image: url(/assets/img/coming-soon.jpg);
}

.project-card__image_catering-bien-casero {
  background-image: url(/assets/img/catering-bien-casero.png);
}

.project-card__image-essential-oils {
  background-image: url(/assets/img/essential-oils.png);
}

.project-card__image-fast-typing-game {
	background-image: url(/assets/img/fast-typing-game.png);
}